RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteBase /MrSabor/

############ RENOMBRANDO ARCHIVOS...
RewriteRule ^/?$ index.php
RewriteRule ^login?$ views/login.php
RewriteRule ^account?$ views/account.php

############ ALL PAGES ADMIN
RewriteRule ^dashboard?$ admin/dashboard.php
RewriteRule ^productos?$ admin/products.php
RewriteRule ^restaurantes?$ admin/restaurants.php
RewriteRule ^menus?$ admin/menus.php
RewriteRule ^categorias?$ admin/categories.php
#RewriteRule ^seleccionar-usuario?$ admin/select-user-register.php

############ ALL PAGES CLIENTS
RewriteRule ^detalle-producto?$ views/detail-products.php
RewriteRule ^bcategoria?$ views/list-by-categories.php
RewriteRule ^cart?$ views/shopping-cart.php
RewriteRule ^search-restaurant?$ views/search-restaurant.php