RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteBase /MrSabor/

############ RENOMBRANDO ARCHIVOS...
RewriteRule ^/?$ index.php
RewriteRule ^login?$ views/login.php
RewriteRule ^account?$ views/account.php

############ ALL PAGES ADMIN
RewriteRule dashboard?$ admin/views/dashboard.php
RewriteRule productos?$ admin/views/products.php
RewriteRule restaurantes?$ admin/views/restaurants.php
RewriteRule categorias?$ admin/views/categories.php
#RewriteRule ^menus?$ admin/views/menus.php
#RewriteRule ^seleccionar-usuario?$ admin/views/select-user-register.php

############ ALL PAGES CLIENTS
RewriteRule ^detalle-producto?$ views/detail-products.php
RewriteRule ^bcategoria?$ views/list-by-categories.php
RewriteRule ^cart?$ views/shopping-cart.php
RewriteRule ^search-restaurant?$ views/search-restaurant.php