/* IMPORTAR EL ESTILOS DE FUENTE GENERAL */
	// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

/* VARIABLES GENERALES DEL PROYECTO */
	$primary-color										: #FFBD59;
	$secondary-color									: #FFFFFF;
	$color-paragraph-light						:	#3F3F3F;
	$color-paragraph-bold							: #000000;
	$font-primary											: 'Quicksand', sans-serif;
	$max-width                        : 1200px; 

/* VARIABLES SECUNDARIAS */
	$placeholder-input								:	#C1C2C5;
	$border-bottom-input							:	rgb(118, 118, 118);
	$bgc-th-table											: #F2F2F2;
	$btn-color-blue										: #0D6EFD;
	$btn-color-green									: #198754;
	$btn-color-red										: #DC3545;
	$btn-color-gray										: #6C757D;
	$border-color-table								: #dee2e6;
	$primary-colot-dark								: #E4A94F;