.contain-table-responsive{
	overflow-x: auto !important;
	height: auto;
}
.cont-group-form-controls{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
}
.cont-group-form-controls__control{
	width: 100%;

	@media (min-width: 1024px){
		width: 48%;		
	}
}
.main{
	display: flex;
	width: 100%;
	min-height: 100vh;
	height: 100%;

	&__cont{
		padding-top: 0;
		padding-bottom: 0;
		height: 100%;
		margin-top: .5rem;
		padding-left: 0.8rem;
		padding-right: 0.8rem;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		overflow: hidden;

		/* TAMAÑO - PORTÁTIL(1024px) */
		@media (min-width: 1024px){
			max-width: auto;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}

		&--top{
			margin-bottom: 0.8rem;
			&__content{
				display: flex;
				align-items: center;
				justify-content: flex-end;
				height: 37px;

				&--item{
					&__date-time-top{
						display: none;
						p{
							margin-top: .3rem;
							margin-bottom: 0;
							margin-left: 0;
							margin-right: 1rem;
							font-weight: 700;
						}

						/* TAMAÑO - PORTÁTIL(1024px) */
						@media (min-width: 1024px){
							display: block;
						}
					}

					&__user{
						width: 36px;
						height: 36px;
						margin-left: auto;
						cursor: pointer;
						
						img{
							width: 100%;
							height: 100%;
							object-fit: contain;
							object-position: center;
						}
					}

					&__menu{
						display: none;
						background-color: $primary-color;
						list-style: none;
						margin-top: 0.5rem;
						padding-top: 0;
						padding-left: 1rem;
						padding-right: 1rem;
						padding-bottom: 0;
						position: absolute;
						text-align: left;
						width: auto;
						right: 1rem;
						border-radius: .4rem;
						z-index: 99;

						&.active{
							display: block;
						}

						&--item{
							line-height: 2.5;
							&__link{
								display: block;
								color: $secondary-color;
								font-size: 0.95rem;
								font-weight: bold;

								&:hover{
									color: #000 !important;
								}

								&[href="logout"]{
									border-top: 1px solid rgba(0,0,0,.15);
								}

								/* TAMAÑO - PORTÁTIL(1024px) */
								@media (min-width: 1024px){
									padding: 0  1.5rem;
								}
							}
						}

						/* TAMAÑO - PORTÁTIL(1024px) */
						@media (min-width: 1024px){
							padding-left: 0;
							padding-right: 0;
							margin-top: 0.8rem;
							width: 220px;
							right: 1.5rem;
						}
					}
				}
			}	
		}

		&--content{
			overflow-x: auto;
			/****************** STYLES INTO TABLES ****************/
			&__list-results{
				width: 100%;
				border-collapse: collapse !important;
				border: 1px solid $border-color-table;

				thead{
					tr{
						border: 1px solid $border-color-table;
						th{
							border: 1px solid $border-color-table;
							border-top: 1px solid $border-color-table;
							border-top-width: 0;
							border-left-width: 0;
							border-bottom-width: 0;
							padding: 8px;
						}
					}
				}
				tbody{
					tr{
						border: 1px solid $border-color-table;

						&:hover{
							background-color: rgba(0,0,0,.12);
						}

						&:first-child{
							border-top: 2px solid $border-color-table;							
						}

						&:nth-child(2n+1){
							background-color: $bgc-th-table;
						}

						td{
							font-size: 0.9rem;
							border: 1px solid $border-color-table;
							border-top: 1px solid $border-color-table;
							border-bottom-width: 0;
							padding: 8px;

							&.cont-img-table{
								display: table-cell;
								align-items: center;
								justify-content: center;
								padding: 0;
								margin-left: auto;
								margin-right: auto;
								width: 100px;
								height: 80px;

								a{
									display: flex;
									margin-left: auto;
									margin-right: auto;
									width: auto;
									height: auto;

									img{
										display: flex;
										margin-left: auto;
										margin-right: auto;
										width: auto;
										height: auto;
									}
								}
							}
							&.cont-btn-update, 
							&.cont-btn-delete{
								padding: 0;
								margin: auto;
								text-align: center;
								a{
									color: #fff;
									padding: 0.5rem 2rem;
									border-radius: 1.5rem;

									&:hover{
										opacity: .6;
									}
								}
							}

							&.cont-btn-update{
								a{
									background-color: $btn-color-blue;
								}
							}

							&.cont-btn-delete{
								a{
									background-color: $btn-color-red;
								}
							}
						}
					}
				}
			}

			/************************** STYLES INTO INPUT SEARCH **************************/
			&__inputsearch-table{
				margin-bottom: 0.5rem;
				&--input{
					outline: none;
					padding: 0.4rem 0.5rem;
					border: thin solid $border-bottom-input;
					border-radius: .3rem;
					line-height: 0.3;
				}
			}

			/********************* STYLES INTO TOP HEADERS ***********************/
			&__addtitle{
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				padding-left: 0;
				padding-right: 0;
				flex-wrap: wrap;

				&--title{
					font-weight: bold;
					font-size: 1.6rem;
					word-break: break-word;
				}

				&--btn-add{
					border: none;
			    background-color: $btn-color-green;
			    color: #fff;
			    font-size: 1.2rem;
			    padding: .8rem 1.32rem;
			    border-radius: 1.5rem;
			    display: flex;
			    position: fixed;
			    right: .8rem;
			    border-radius: 50%;
			    font-weight: bold;
			    z-index: 9999;
			    bottom: .8rem;
			    box-shadow: 0 1px 15px 1px rgb(0 0 0 / 40%);

			    &__hidden{
			    	display: none;
			    }

			    /* TAMAÑO - TABLET(768px)*/
			    @media (min-width: 768px){
			    	position: relative;
						background-color: green;
						font-size: .9rem;
						padding: 0.5rem 2rem;
						border-radius: 1.5rem;
						box-shadow: unset;
						z-index: 9;
						bottom: 0;
						right: 0;

						&__hidden{
							display: block;
						}
			    }
				}
			}
		}
	}
}
/* DATATABLES - MINIMUM DEVICE WIDTH */
/* MODAL BOOTSTRAP - CONFIGURATIONS ADD ITEMS*/
.bootstrapmodal-custom{
	.modal-dialog{
		.modal-content{
			.modal-header{
				.modal-title{
					font-weight: bold;
					line-height: 1.2 !important;
				}
				.close{

				}
			}

			.modal-body{
				.cont-modalbootstrap{
					&__form{
						&--control{
							display: flex;
							flex-direction: column;
							margin-bottom: 1.2rem;
							position: relative;

							&__continputs{
								display: flex;
								align-items: center;
								justify-content: space-between;
								margin-bottom: 0.5rem;
								
								&--controls{
									display: flex;
									flex-direction: column;
									justify-content: flex-start;
									width: 48%;
									position: relative;

									&__label{
										margin: 0;
										font-size: 0.75rem;
										position: absolute;
										left: 3px;
										top: -8px;
										background-color: #fff;
										padding: 0 .3rem;
										color: #777;
									}

									&__input{
										width: 100%;
										border: thin solid $border-bottom-input;
										outline: none;
										padding-bottom: 0.4rem;
										padding-top: 0.4rem;
										background-color: transparent;
										font-size: 0.9rem;
										padding-left: 0.3rem;
										padding-right: 0.3rem;
										border-radius: .3rem;
									}

								}
							}

							&__maps{
								width: 100%;
								height: 250px;
								border: 1px solid #ccc;
							}

							&__label{
								display: flex;
								font-size: 0.9rem;
								position: absolute;
								left: 0;
								top: 50%;
								transition: .3s ease;
								color: #757575;
								transform: translateY(-50%);
								margin: 0 0 0 0.5rem;

								&.focus{
									color: red;
									font-size: 0.7rem;
									top: -2px;
									left: 0;
									background-color: #fff;
									padding: 0 0.3rem;
								}

								&.complete{
									color: green;
									font-size: 0.7rem;
									top: -2px;
									left: 0;
									background-color: #fff;
									padding: 0 0.3rem;
								}
							}

							&__input{
								border: thin solid $border-bottom-input;
								width: 100%;
								outline: none;
								transition: .3s ease;
								background-color: transparent;
								font-size: 0.9rem;
								padding: 0.4rem 0.5rem;
								border-radius: .3rem;

								&.focus{
									border: 1px solid red;
								}

								&.complete{
									border: 1px solid green;
								}
							}

							&__input-photo{
								border-bottom: thin solid $border-bottom-input; 
							}
						}
					}

					&__footer{
						display: flex;
						align-items: center;
						justify-content: flex-end;
						flex-wrap: wrap;

						&--btncancel,
						&--btnadd{
							border: none;
					    padding: .4rem 1rem;
					    margin-left: .5rem;
					    color: #fff;
					    border-radius: 1.5rem;
					    margin-bottom: 0.5rem;
					    width: 100%;
					    font-size: 0.9rem;
					    font-weight: bold;

					    /* TAMAÑO - MÓVIL(480px) */
					    @media (min-width: 480px){
					    	width: 38%;
					    }
						}

						&--btncancel{
					    background-color: $btn-color-gray;
						}

						&--btnadd{
					    background-color: royalblue;
						}
					}
				}	
			}
		}
	}
}
/* MODAL BOOTSTRAP - CONFIGURATIONS UPDATE ITEMS*/
.bootstrapmodal-custom{
	.modal-dialog{
		.modal-content{
			.modal-header{
				.modal-title{
					font-weight: bold;
					line-height: 1.2 !important;
				}
				.close{

				}
			}

			.modal-body{

				.text-message-modalAlt{
					font-size: 1.4rem;
					margin-bottom: 1rem;
				}

				.cont-modalbootstrapupdate{
					&__form{
						&--control{
							display: flex;
							flex-direction: column;
							margin-bottom: 1.2rem;
							position: relative;

							&__continputs{
								display: flex;
								align-items: center;
								justify-content: space-between;
								margin-bottom: 0.5rem;
								
								&--controls{
									display: flex;
									flex-direction: column;
									justify-content: flex-start;
									width: 48%;
									position: relative;

									&__label{
										margin: 0;
								    padding: 0;
								    font-size: 0.75rem;
								    position: absolute;
								    top: -10px;
								    background-color: #fff;
								    left: 6px;
								    padding: 0 .3rem;
								    color: #777;
									}

									&__input{
										width: 100%;
								    border: thin solid #767676;
								    outline: none;
								    padding-bottom: 0.4rem;
								    padding-top: 0.4rem;
								    background-color: transparent;
								    font-size: 0.9rem;
								    border-radius: .3rem;
								    padding-left: .3rem;
								    padding-right: .3rem;
									}
								}
							}

							&__maps{
								width: 100%;
								height: 250px;
								border: 1px solid #ccc;
							}

							&__linkphoto{
								font-size: 0.9rem;
							}
							
							&__label{
								display: flex;
						    font-size: 0.9rem;
						    position: absolute;
						    left: 0;
						    top: 50%;
						    transition: 0.3s ease;
						    color: #757575;
						    margin: 0 0 0 0.5rem;
						    transform: translateY(-50%);

								&.focus{
									color: red;
									font-size: 0.7rem;
							    top: -1px;
							    color: green;
							    background-color: #fff;
							    left: 2px;
							    padding: 0 .3rem;
								}

								&.complete{
									font-size: 0.7rem;
							    top: -1px;
							    color: green;
							    background-color: #fff;
							    left: 2px;
							    padding: 0 .3rem;
								}
							}

							&__input{
								border: thin solid $border-bottom-input;
								width: 100%;
								outline: none;
								padding: 0.4rem 0.5rem;
								transition: .3s ease;
								background-color: transparent;
								font-size: 0.9rem;
								border-radius: .3rem;

								&.focus{
									border-bottom: 1px solid red;
								}

								&.complete{
									border-bottom: 1px solid green;
								}
							}

							&__input-photo{
								border-bottom: thin solid $border-bottom-input; 
							}
						}
					}

					&__footer{
						display: flex;
						align-items: center;
						justify-content: flex-end;
						flex-wrap: wrap;

						&--btncancel,
						&--btnupdate{
							border: none;
					    padding: .4rem 1rem;
					    margin-left: .5rem;
					    color: #fff;
					    border-radius: 1.5rem;
					    margin-bottom: 0.5rem;
					    width: 100%;
					    font-size: 0.9rem;
					    font-weight: bold;

					    /* TAMAÑO - MÓVIL(480px) */
					    @media (min-width: 480px){
					    	width: 38%;
					    }
						}

						&--btncancel{
					    background-color: $btn-color-gray;
						}

						&--btnupdate{
					    background-color: $btn-color-blue;
						}
					}
				}	
			}
		}
	}
}
/* MODAL BOOTSTRAP - CONFIGURATIONS DELETE ITEMS*/
.bootstrapmodal-custom{
	.modal-dialog{
		.modal-content{
			.modal-header{
				.modal-title{
					font-weight: bold;
					line-height: 1.2 !important;
				}
				.close{

				}
			}

			.modal-body{

				.text-message-modalAlt{
					font-size: 1.4rem;
					margin-bottom: 2rem;
				}

				.cont-modalbootstrapupdate{
					&__form{
						&--control{

						}
					}

					&__footer{
						display: flex;
						align-items: center;
						justify-content: flex-end;
						flex-wrap: wrap;

						&--btncancel,
						&--btndelete{
							border: none;
					    padding: .4rem 1rem;
					    margin-left: .5rem;
					    color: #fff;
					    border-radius: 1.5rem;
					    margin-bottom: 0.5rem;
					    width: 100%;
					    font-size: 0.9rem;
					    font-weight: bold;

					    /* TAMAÑO - MÓVIL(480px) */
					    @media (min-width: 480px){
					    	width: 38%;
					    }
						}

						&--btncancel{
					    background-color: $btn-color-gray;
						}

						&--btndelete{
					    background-color: $btn-color-red;
						}
					}
				}	
			}
		}
	}
}
/* STYLES INTO TABLE NON RESULT */
.msg-non-results-res{
	text-align: center;
	padding: 1.2rem;
	
	&__icon{
		width: 50px;
		height: 50px;
		margin-bottom: 0.6rem;
	}

	&__title{
		font-size: 1.1rem;
		color: $color-paragraph-light;
	}
}