.body-account{
	background-color: #fff;

	/* TAMAÑO - PORTÁTIL(1024px) */
  @media (min-width: 1024px){
		background-color: $primary-color;
  }
}

.account{
	background-color: #fff;

	/* TAMAÑO - PORTÁTIL(1024px) */
  @media (min-width: 1024px){
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	margin-top: auto;
  	margin-bottom: auto;
  	margin-left: auto;
  	margin-right: auto;
  	width: 1000px;
  	min-height: 600px;
  	max-height: 600px;
  	height: 600px;
  	border-radius: .3rem;
  	box-shadow: 0 10px 20px 2px rgba(0,0,0,.1);
  }

  /* TAMAÑO - DESKTOP HD(1400px) */
  @media (min-width: 1400px){
  	width: 1151px;
  }

	&__cont{

		/* TAMAÑO - PORTÁTIL(1024px) */
    @media (min-width: 1024px){
    	width: 50%;
    }

		&--icon{
			display: flex;
	    align-items: center;
	    justify-content: center;
	    text-align: center;
	    left: 0;
	    top: 0;
	    width: 90%;
	    height: 160px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 1.5rem;

	    /* TAMAÑO - PREDETERMINADO(300px) */
	    @media (min-width: 300px){
	    	margin-bottom: 1rem;
	    }

	    &:before{
	    	content: "";
		    position: absolute;
		    background-color: #FCE8E3;
		    width: 100%;
		    height: 130px;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    z-index: 9;

		    /* TAMAÑO - PREDETERMINADO(300px) */
		    @media (min-width: 300px){
		    	height: 160px;
		    }

		    /* TAMAÑO - PORTÁTIL(1024px) */
		    @media (min-width: 1024px){
		    	width: 300px;
		    	height: 100%;
		    }
	    }

			img{
				width: 100%;
				height: auto;
				z-index: 999;

				/* TAMAÑO - PREDETERMINADO(300px) */
		    @media (min-width: 300px){
		    	height: 200px;
		    }

		    /* TAMAÑO - PORTÁTIL(1024px) */
		    @media (min-width: 1024px){
		    	height: auto;
		    }
			}
		}

		&:nth-child(2){
			width: 100%;
			margin-left: auto;
			margin-right: auto;

			/* TAMAÑO - MÓVIL(480px) */
			@media (min-width: 480px){
				width: 80%;
			}

			/* TAMAÑO - TABLET(768px) */
			@media (min-width: 768px){
				width: 70%;
			}

			/* TAMAÑO - PORTÁTIL(1024px) */
	    @media (min-width: 1024px){
	    	width: 40%;
	    }

	    /* TAMAÑO - DESKTOP HD(1400px) */
	    @media (min-width: 1400px){
	    	width: 30%;
	    }
		}

		&--content{
    
			&:first-child{
				margin-bottom: 1.5rem;
			}

	    &__or-register{
	    	display: flex;
		    align-items: center;
		    justify-content: center;
		    text-align: center;
		    position: relative;
		    height: 30px;
	    	
	    	&--divisor{
	    		width: 60px;
	    		border-top: 1px solid grey;
	    		
	    		span{
	    			width: 25px;
	    			position: absolute;
	    			top: 50%;
	    			left: 50%;
	    			transform: translate(-50%, -50%);
	    			background-color: #fff;
	    			margin: auto;
	    			color: #757575;
	    		}
	    	}
	    }

	    &__title{
				margin-bottom: .4rem;
				font-size: 1.5rem;
				font-weight: 700;

				/* TAMAÑO - PREDETERMINADO(300px) */
		    @media (min-width: 300px){
		    	font-size: 1.7rem;
		    }

				/* TAMAÑO - MÓVIL(480px) */
		    @media (min-width: 480px){
		    	font-size: 2rem;
		    }
			}

			&__width-register{
				font-size: 0.8rem;
				color: #757575;
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 0.5rem;

				/* TAMAÑO - TABLET(768px)*/
				@media (min-width: 768px){
					font-size: 0.9rem;
				}

				a{
					color: #82AFF8;
					outline: none;
					font-weight: bold;
				}
			}

			&__form{
				&--control{
					margin-bottom: 1.25rem;
					position: relative;
					transition: .3s ease;

					&__label{
						display: flex;
						font-size: .9rem;
						position: absolute;
						left: 0;
						top: 0;
						transition: .3s ease;
						color: #757575;

						&.focus{
							color: red;
							font-size: 0.7rem;
							top: -13px;
						}

						&.complete{
							font-size: 0.7rem;
							top: -13px;
							color: green;
						}
					}

					&__input{
						border-left: none;
						border-right: none;
						border-top: none;
						border-bottom: 1px solid $border-bottom-input;
						width: 100%;
						outline: none;
						padding-bottom: 0.4rem;
						padding-top: 0.4rem;
						transition: .3s ease;
						background-color: transparent;
						font-size: .9rem;

						&.focus{
							border-bottom: 1px solid red;
						}

						&.complete{
							border-bottom: 1px solid green;
						}
					}

					&__select{
						cursor: pointer;
						border-top: none;
				    border-left: none;
				    border-right: none;
				    border-bottom: 1px solid rgb(118, 118, 118);
				    outline: none;
				    margin-bottom: 1.25rem;
				    background-color: transparent;

				    /* TAMAÑO - MÓVIL(480px) */
				    @media (min-width: 480px){
				    	width: 50%;
				    }
					}

					&__input:focus ~ label{
						font-size: 0.7rem;
						top: -12px;
					}
				}

				&--btnadd{
					cursor: pointer;
					width: 100%;
			    border: none;
			    background-color: $primary-color;
			    color: #fff;
			    outline: none;
			    padding: .55rem 0;
			    border-radius: .3rem;
			    text-transform: uppercase;
			    font-size: 0.75rem;

			    /* TAMAÑO - PORTÁTIL(1024px) */
			    @media (min-width: 1024px){
				    padding: 0.8rem 0;

				    &:hover{
				    	opacity: .6;
				    }
			    }
				}
			}
		}
	}
}