@charset "UTF-8";
/* IMPORTAR LAS BASES DEL TEMA */
/* IMPORTAR LAS VARIABLES Y MIXINS */
/* IMPORTAR EL ESTILOS DE FUENTE GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap");
/* VARIABLES GENERALES DEL PROYECTO */
/* VARIABLES SECUNDARIAS */
/* DEFINIR ANCHO MÁXIMO */
/* CREAR UN BURGERNAV */
/* CREAR UN BURGERNAV CON CONTORNO */
/* CREAR UN LOADER DE RULETA */
/* RESETEO Y CONFIGURACIÓN GENERAL DE ESTILOS */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: unset;
}

a {
  text-decoration: none !important;
  outline: none !important;
}

button {
  outline: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.box {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

.one-hidden > option:first-child {
  display: none;
}

#result-adm {
  /* MENSAJE DE ERROR */
  /* MENSAJE DE ÉXITO */
}
#result-adm .message-loader {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999999;
}
#result-adm .message-loader .loader-custom {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border-left-color: #09f;
  animation-name: girar;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#result-adm .message-error {
  z-index: 9999999;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
#result-adm .message-error.disabled {
  transition: ease 0.3s;
  opacity: 0;
  display: none;
}
#result-adm .message-error__content {
  text-align: left;
  width: 90%;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  margin-top: 1rem;
  animation-name: alert;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-iteration-count: inherit;
  position: relative;
  text-align: center;
  /* TAMAÑO - MÓVIL(480px) */
  /* TAMAÑO - TABLET(768px) */
  /* TAMAÑO - PORTÁTIL(1024px) */
}
@media (min-width: 480px) {
  #result-adm .message-error__content {
    width: 80%;
  }
}
@media (min-width: 768px) {
  #result-adm .message-error__content {
    width: 450px;
  }
}
@media (min-width: 1024px) {
  #result-adm .message-error__content {
    padding: 1rem 1.5rem;
  }
}
#result-adm .message-error__content--title {
  color: red;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  /* TAMAÑO - MÓVIL(480px) */
}
@media (min-width: 480px) {
  #result-adm .message-error__content--title {
    font-size: 1.25rem;
  }
}
#result-adm .message-error__content--text {
  color: #444;
  font-size: 0.9rem;
  /* TAMAÑO - PORTÁTIL(1024px) */
}
@media (min-width: 1024px) {
  #result-adm .message-error__content--text {
    font-size: 1rem;
  }
}
@keyframes alert {
  0% {
    transform: translateY(-100%);
    margin-top: 0;
  }
  100% {
    transform: translateY(0);
    margin-top: 1rem;
  }
}
#result-adm .message-error__content--btnclosed {
  width: 18px;
  height: 18px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #FFFFFF 45%, #FFFFFF 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), linear-gradient(135deg, #000 0%, #000 43%, #FFFFFF 45%, #FFFFFF 55%, #000 57%, #000 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px #000, 0 0 0 4px #000, 0 0 0 7px #fff;
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
}
#result-adm .message-success {
  z-index: 9999999;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
#result-adm .message-success.disabled {
  transition: ease 0.3s;
  opacity: 0;
  display: none;
}
#result-adm .message-success__content {
  text-align: left;
  padding: 1rem 0.5rem;
  width: 90%;
  border-radius: 0.5rem;
  background-color: #fff;
  margin-top: 1rem;
  animation-name: alert;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-iteration-count: inherit;
  position: relative;
  text-align: center;
  /* TAMAÑO - MÓVIL(480px) */
  /* TAMAÑO - TABLET(768px) */
}
#result-adm .message-success__content--title {
  color: green;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
#result-adm .message-success__content--text {
  color: #444;
  font-size: 0.9rem;
}
@keyframes alert {
  0% {
    transform: translateY(-100%);
    margin-top: 0;
  }
  100% {
    transform: translateY(0);
    margin-top: 1rem;
  }
}
#result-adm .message-success__content--btnclosed {
  width: 18px;
  height: 18px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #FFFFFF 45%, #FFFFFF 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), linear-gradient(135deg, #000 0%, #000 43%, #FFFFFF 45%, #FFFFFF 55%, #000 57%, #000 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px #000, 0 0 0 4px #000, 0 0 0 7px #fff;
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
}
@media (min-width: 480px) {
  #result-adm .message-success__content {
    width: 80%;
  }
}
@media (min-width: 768px) {
  #result-adm .message-success__content {
    width: 450px;
  }
}

/* IMPORTAR EL ESTILOS DE FUENTE GENERAL */
/* VARIABLES GENERALES DEL PROYECTO */
/* VARIABLES SECUNDARIAS */
/* IMPORTAR LOS ARCHIVOS DEL TEMA */
.contain-table-responsive {
  overflow-x: auto !important;
  height: auto;
}

.cont-group-form-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.cont-group-form-controls__control {
  width: 100%;
}
@media (min-width: 1024px) {
  .cont-group-form-controls__control {
    width: 48%;
  }
}

.main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.main__cont {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  margin-top: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
  /* TAMAÑO - PORTÁTIL(1024px) */
}
@media (min-width: 1024px) {
  .main__cont {
    max-width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.main__cont--top {
  margin-bottom: 0.8rem;
}
.main__cont--top__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 37px;
}
.main__cont--top__content--item__date-time-top {
  display: none;
  /* TAMAÑO - PORTÁTIL(1024px) */
}
.main__cont--top__content--item__date-time-top p {
  margin-top: 0.3rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1rem;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .main__cont--top__content--item__date-time-top {
    display: block;
  }
}
.main__cont--top__content--item__user {
  width: 36px;
  height: 36px;
  margin-left: auto;
  cursor: pointer;
}
.main__cont--top__content--item__user img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.main__cont--top__content--item__menu {
  display: none;
  background-color: #FFBD59;
  list-style: none;
  margin-top: 0.5rem;
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
  position: absolute;
  text-align: left;
  width: auto;
  right: 1rem;
  border-radius: 0.4rem;
  z-index: 99;
  /* TAMAÑO - PORTÁTIL(1024px) */
}
.main__cont--top__content--item__menu.active {
  display: block;
}
.main__cont--top__content--item__menu--item {
  line-height: 2.5;
}
.main__cont--top__content--item__menu--item__link {
  display: block;
  color: #FFFFFF;
  font-size: 0.95rem;
  font-weight: bold;
  /* TAMAÑO - PORTÁTIL(1024px) */
}
.main__cont--top__content--item__menu--item__link:hover {
  color: #000 !important;
}
.main__cont--top__content--item__menu--item__link[href=logout] {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
  .main__cont--top__content--item__menu--item__link {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1024px) {
  .main__cont--top__content--item__menu {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0.8rem;
    width: 220px;
    right: 1.5rem;
  }
}
.main__cont--content {
  overflow-x: auto;
  /****************** STYLES INTO TABLES ****************/
  /************************** STYLES INTO INPUT SEARCH **************************/
  /********************* STYLES INTO TOP HEADERS ***********************/
}
.main__cont--content__list-restaurants {
  width: 100%;
  border-collapse: collapse !important;
  border: 1px solid #dee2e6;
}
.main__cont--content__list-restaurants thead tr {
  border: 1px solid #dee2e6;
}
.main__cont--content__list-restaurants thead tr th {
  border: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  padding: 8px;
}
.main__cont--content__list-restaurants tbody tr {
  border: 1px solid #dee2e6;
}
.main__cont--content__list-restaurants tbody tr:first-child {
  border-top: 2px solid #dee2e6;
}
.main__cont--content__list-restaurants tbody tr:nth-child(2n+1) {
  background-color: #F2F2F2;
}
.main__cont--content__list-restaurants tbody tr td {
  font-size: 0.9rem;
  border: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-bottom-width: 0;
  padding: 8px;
}
.main__cont--content__list-restaurants tbody tr td.cont-img-restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 85px;
}
.main__cont--content__list-restaurants tbody tr td.cont-img-restaurant a {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}
.main__cont--content__list-restaurants tbody tr td.cont-img-restaurant a img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}
.main__cont--content__list-restaurants tbody tr td.cont-btn-update, .main__cont--content__list-restaurants tbody tr td.cont-btn-delete {
  padding: 0;
  margin: auto;
  text-align: center;
}
.main__cont--content__list-restaurants tbody tr td.cont-btn-update a, .main__cont--content__list-restaurants tbody tr td.cont-btn-delete a {
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
}
.main__cont--content__list-restaurants tbody tr td.cont-btn-update a:hover, .main__cont--content__list-restaurants tbody tr td.cont-btn-delete a:hover {
  opacity: 0.6;
}
.main__cont--content__list-restaurants tbody tr td.cont-btn-update a {
  background-color: #0D6EFD;
}
.main__cont--content__list-restaurants tbody tr td.cont-btn-delete a {
  background-color: #DC3545;
}
.main__cont--content__inputsearch-table {
  margin-bottom: 0.5rem;
}
.main__cont--content__inputsearch-table--input {
  outline: none;
  padding: 0.4rem 0.5rem;
  border: thin solid #767676;
  border-radius: 0.3rem;
  line-height: 0.3;
}
.main__cont--content__addtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  flex-wrap: wrap;
}
.main__cont--content__addtitle--title {
  font-weight: bold;
  font-size: 1.6rem;
  word-break: break-word;
}
.main__cont--content__addtitle--btn-add {
  border: none;
  background-color: #198754;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.8rem 1.32rem;
  border-radius: 1.5rem;
  display: flex;
  position: fixed;
  right: 0.8rem;
  border-radius: 50%;
  font-weight: bold;
  z-index: 9999;
  bottom: 0.8rem;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.4);
  /* TAMAÑO - TABLET(768px)*/
}
.main__cont--content__addtitle--btn-add__hidden {
  display: none;
}
@media (min-width: 768px) {
  .main__cont--content__addtitle--btn-add {
    position: relative;
    background-color: green;
    font-size: 0.9rem;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    box-shadow: unset;
    z-index: 9;
    bottom: 0;
    right: 0;
  }
  .main__cont--content__addtitle--btn-add__hidden {
    display: block;
  }
}

/* DATATABLES - MINIMUM DEVICE WIDTH */
/* MODAL BOOTSTRAP - CONFIGURATIONS ADD ITEMS*/
.bootstrapmodal-custom .modal-dialog .modal-content .modal-header .modal-title {
  font-weight: bold;
  line-height: 1.2 !important;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__form--control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  position: relative;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__form--control__continputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__form--control__continputs--controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 48%;
  position: relative;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__form--control__continputs--controls__label {
  margin: 0;
  font-size: 0.75rem;
  position: absolute;
  left: 3px;
  top: -8px;
  background-color: #fff;
  padding: 0 0.3rem;
  color: #777;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__form--control__continputs--controls__input {
  width: 100%;
  border: thin solid #767676;
  outline: none;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  background-color: transparent;
  font-size: 0.9rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 0.3rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__form--control__maps {
  width: 100%;
  height: 250px;
  border: 1px solid #ccc;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__form--control__label {
  display: flex;
  font-size: 0.9rem;
  position: absolute;
  left: 0;
  top: 50%;
  transition: 0.3s ease;
  color: #757575;
  transform: translateY(-50%);
  margin: 0 0 0 0.5rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__form--control__label.focus {
  color: red;
  font-size: 0.7rem;
  top: -2px;
  left: 0;
  background-color: #fff;
  padding: 0 0.3rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__form--control__label.complete {
  color: green;
  font-size: 0.7rem;
  top: -2px;
  left: 0;
  background-color: #fff;
  padding: 0 0.3rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__form--control__input {
  border: thin solid #767676;
  width: 100%;
  outline: none;
  transition: 0.3s ease;
  background-color: transparent;
  font-size: 0.9rem;
  padding: 0.4rem 0.5rem;
  border-radius: 0.3rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__form--control__input.focus {
  border: 1px solid red;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__form--control__input.complete {
  border: 1px solid green;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__form--control__input-photo {
  border-bottom: thin solid #767676;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__footer--btncancel, .bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__footer--btnadd {
  border: none;
  padding: 0.4rem 1rem;
  margin-left: 0.5rem;
  color: #fff;
  border-radius: 1.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  /* TAMAÑO - MÓVIL(480px) */
}
@media (min-width: 480px) {
  .bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__footer--btncancel, .bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__footer--btnadd {
    width: 38%;
  }
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__footer--btncancel {
  background-color: #6C757D;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrap__footer--btnadd {
  background-color: royalblue;
}

/* MODAL BOOTSTRAP - CONFIGURATIONS UPDATE ITEMS*/
.bootstrapmodal-custom .modal-dialog .modal-content .modal-header .modal-title {
  font-weight: bold;
  line-height: 1.2 !important;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .text-message-modalAlt {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  position: relative;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control__continputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control__continputs--controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 48%;
  position: relative;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control__continputs--controls__label {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  position: absolute;
  top: -10px;
  background-color: #fff;
  left: 6px;
  padding: 0 0.3rem;
  color: #777;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control__continputs--controls__input {
  width: 100%;
  border: thin solid #767676;
  outline: none;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  background-color: transparent;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control__maps {
  width: 100%;
  height: 250px;
  border: 1px solid #ccc;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control__linkphoto {
  font-size: 0.9rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control__label {
  display: flex;
  font-size: 0.9rem;
  position: absolute;
  left: 0;
  top: 50%;
  transition: 0.3s ease;
  color: #757575;
  margin: 0 0 0 0.5rem;
  transform: translateY(-50%);
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control__label.focus {
  color: red;
  font-size: 0.7rem;
  top: -1px;
  color: green;
  background-color: #fff;
  left: 2px;
  padding: 0 0.3rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control__label.complete {
  font-size: 0.7rem;
  top: -1px;
  color: green;
  background-color: #fff;
  left: 2px;
  padding: 0 0.3rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control__input {
  border: thin solid #767676;
  width: 100%;
  outline: none;
  padding: 0.4rem 0.5rem;
  transition: 0.3s ease;
  background-color: transparent;
  font-size: 0.9rem;
  border-radius: 0.3rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control__input.focus {
  border-bottom: 1px solid red;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control__input.complete {
  border-bottom: 1px solid green;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__form--control__input-photo {
  border-bottom: thin solid #767676;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer--btncancel, .bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer--btnupdate {
  border: none;
  padding: 0.4rem 1rem;
  margin-left: 0.5rem;
  color: #fff;
  border-radius: 1.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  /* TAMAÑO - MÓVIL(480px) */
}
@media (min-width: 480px) {
  .bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer--btncancel, .bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer--btnupdate {
    width: 38%;
  }
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer--btncancel {
  background-color: #6C757D;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer--btnupdate {
  background-color: #0D6EFD;
}

/* MODAL BOOTSTRAP - CONFIGURATIONS DELETE ITEMS*/
.bootstrapmodal-custom .modal-dialog .modal-content .modal-header .modal-title {
  font-weight: bold;
  line-height: 1.2 !important;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .text-message-modalAlt {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer--btncancel, .bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer--btndelete {
  border: none;
  padding: 0.4rem 1rem;
  margin-left: 0.5rem;
  color: #fff;
  border-radius: 1.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  /* TAMAÑO - MÓVIL(480px) */
}
@media (min-width: 480px) {
  .bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer--btncancel, .bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer--btndelete {
    width: 38%;
  }
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer--btncancel {
  background-color: #6C757D;
}
.bootstrapmodal-custom .modal-dialog .modal-content .modal-body .cont-modalbootstrapupdate__footer--btndelete {
  background-color: #DC3545;
}

/* STYLES INTO TABLE NON RESULT */
.msg-non-results-res {
  text-align: center;
  padding: 1.2rem;
}
.msg-non-results-res__icon {
  width: 50px;
  height: 50px;
  margin-bottom: 0.6rem;
}
.msg-non-results-res__title {
  font-size: 1.1rem;
  color: #3F3F3F;
}

.body-login-adm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  background-color: #FFBD59;
}

.login-adm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 4rem;
  background-color: #fff;
  box-shadow: 8px 6px 3px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0.4rem;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  /* TAMAÑO - MÓVIL-PEQUEÑO(360px) */
  /* TAMAÑO - MÓVIL(480px) */
  /* TAMAÑO - CUSTOMS MÓVIL(600px) */
  /* TAMAÑO - TABLET(768px) */
  /* TAMAÑO - CUSTOMS PORTÁTIL(768px) */
  /* TAMAÑO - DESKTOP HD(1400px) */
}
@media (min-width: 360px) {
  .login-adm {
    width: 95%;
  }
}
@media (min-width: 480px) {
  .login-adm {
    width: 80%;
    padding: 0.5rem 2.2rem 0.5rem 2.2rem;
  }
}
@media (min-width: 600px) {
  .login-adm {
    width: 65%;
  }
}
@media (min-width: 768px) {
  .login-adm {
    width: 50%;
  }
}
@media (min-width: 991px) {
  .login-adm {
    width: 38%;
  }
}
@media (min-width: 1400px) {
  .login-adm {
    width: 34%;
    padding: 1rem 2.6rem 1rem 2.6rem;
  }
}
.login-adm__cont {
  margin-bottom: 1.5rem;
}
.login-adm__cont--icon {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}
.login-adm__cont--icon img {
  width: 100%;
  height: 100%;
}
.login-adm__cont--title {
  margin-bottom: 1.4rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  /* TAMAÑO - PREDETERMINADO(300px) */
  /* TAMAÑO - MÓVIL(480px) */
}
@media (min-width: 300px) {
  .login-adm__cont--title {
    font-size: 1.6rem;
  }
}
@media (min-width: 480px) {
  .login-adm__cont--title {
    font-size: 2rem;
  }
}
.login-adm__cont--content__form--control {
  margin-bottom: 1.25rem;
  position: relative;
  transition: 0.3s ease;
}
.login-adm__cont--content__form--control__label {
  display: flex;
  font-size: 0.9rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s ease;
  color: #757575;
}
.login-adm__cont--content__form--control__label.focus {
  color: red;
  font-size: 0.7rem;
  top: -13px;
}
.login-adm__cont--content__form--control__label.complete {
  font-size: 0.7rem;
  top: -13px;
  color: green;
}
.login-adm__cont--content__form--control__input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #767676;
  width: 100%;
  outline: none;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  transition: 0.3s ease;
  background-color: transparent;
  font-size: 0.9rem;
}
.login-adm__cont--content__form--control__input.focus {
  border-bottom: 1px solid red;
}
.login-adm__cont--content__form--control__input.complete {
  border-bottom: 1px solid green;
}
.login-adm__cont--content__form--actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.login-adm__cont--content__form--actions__btnlogin {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: #FFBD59;
  color: #fff;
  outline: none;
  padding: 0.55rem 0;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  text-align: center;
  /* TAMAÑO - PORTÁTIL(1024px) */
}
@media (min-width: 1024px) {
  .login-adm__cont--content__form--actions__btnlogin {
    padding: 0.8rem 0;
  }
  .login-adm__cont--content__form--actions__btnlogin:hover {
    opacity: 0.6;
  }
}
.login-adm__cont--content__form--actions__separator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 30px;
}
.login-adm__cont--content__form--actions__separator--divisor {
  width: 60px;
  border-top: 1px solid grey;
}
.login-adm__cont--content__form--actions__separator--divisor span {
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  margin: auto;
  color: #757575;
}
.login-adm__cont--content__form--actions__gotoaccount {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff !important;
  outline: none;
  padding: 0.55rem 0;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  text-align: center;
  /* TAMAÑO - PORTÁTIL(1024px) */
}
@media (min-width: 1024px) {
  .login-adm__cont--content__form--actions__gotoaccount {
    padding: 0.8rem 0;
  }
  .login-adm__cont--content__form--actions__gotoaccount:hover {
    opacity: 0.6;
  }
}

.main__sidebar-left {
  background-color: #FFBD59;
  width: 100%;
  left: -100%;
  position: fixed;
  height: 100%;
  transition: 0.4s ease;
  z-index: 999 !important;
  /* TAMAÑO - PORTÁTIL(1024px) */
  /* TAMAÑO - DESKTOP HD(1400px) */
}
@media (min-width: 1024px) {
  .main__sidebar-left {
    width: 480px;
    left: 0;
    position: relative;
    min-height: 100vh;
    height: auto;
  }
}
@media (min-width: 1400px) {
  .main__sidebar-left {
    width: 420px;
  }
}
.main__sidebar-left.active {
  left: 0;
  width: 100%;
  box-shadow: 0 0 900px 10px rgba(0, 0, 0, 0.9);
  z-index: 9999999 !important;
  /* TAMAÑO - PRDETERMINADO(300px) */
  /* TAMAÑO - MÓVIL(480px) */
  /* TAMAÑO - CUSTOMS-FOR-TABLET(480px) */
  /* TAMAÑO - TABLET(768px) */
  /* TAMAÑO - PORTÁTIL(1024px) */
}
@media (min-width: 300px) {
  .main__sidebar-left.active {
    width: 80%;
  }
}
@media (min-width: 480px) {
  .main__sidebar-left.active {
    width: 60%;
  }
}
@media (min-width: 600px) {
  .main__sidebar-left.active {
    width: 45%;
  }
}
@media (min-width: 768px) {
  .main__sidebar-left.active {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .main__sidebar-left.active {
    width: 0;
    pointer-events: none;
    box-shadow: unset;
  }
}
.main__sidebar-left__content {
  opacity: 1;
}
.main__sidebar-left__content.active {
  opacity: 0;
  pointer-events: none;
}
.main__sidebar-left__content a {
  color: #fff;
}
.main__sidebar-left--link-close {
  left: 99%;
  pointer-events: auto;
  height: 19px;
  padding: 0.5rem 1.1rem 1.7rem 1.1rem;
  background-color: #fff;
  /* TAMAÑO - MÓVIL(480px)*/
  /* TAMAÑO - PORTÁTIL(1024x)*/
}
.main__sidebar-left--link-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  margin: 0.5rem 0 0 1rem;
  border: 1px solid #000;
  border-radius: 0.3rem;
}
.main__sidebar-left--link-close:before {
  content: "";
  position: absolute;
  border-top: 3px solid #000;
  top: 7px;
  width: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid #000;
  border-radius: 2px;
}
.main__sidebar-left--link-close:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #000;
  width: 20px;
  bottom: 8px;
  border-radius: 2px;
}
.main__sidebar-left--link-close.active {
  opacity: 1;
  left: 79%;
  pointer-events: auto;
  position: absolute;
  color: #fff;
  font-size: 2rem;
  top: 0;
  transition: 0.5s ease;
  z-index: 999999;
  animation-name: mover;
  animation-duration: 0.4s;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), linear-gradient(135deg, transparent 0%, transparent 43%, #fff 45%, #fff 55%, transparent 57%, transparent 100%);
  border: none;
  padding: 0.5rem;
  /* TAMAÑO - TABLET(768px) */
  /* TAMAÑO - PORTÁTIL(1024x)*/
}
.main__sidebar-left--link-close.active:before {
  content: "";
  position: absolute;
  border-top: unset;
  height: auto;
  width: auto;
  border-bottom: unset;
  top: auto;
  left: auto;
}
.main__sidebar-left--link-close.active:after {
  content: "";
  position: absolute;
  border-bottom: unset;
  top: auto;
  left: auto;
  width: auto;
}
@keyframes mover {
  0% {
    left: 99%;
  }
  100% {
    left: 79%;
  }
}
@media (min-width: 768px) {
  .main__sidebar-left--link-close.active {
    left: 86%;
  }
  @keyframes mover {
    0% {
      left: 99%;
    }
    100% {
      left: 86%;
    }
  }
}
@media (min-width: 1024px) {
  .main__sidebar-left--link-close.active {
    opacity: 1;
    width: 0;
    left: 10px;
    top: 10px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #000 45%, #000 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), linear-gradient(135deg, transparent 0%, transparent 43%, #000 45%, #000 55%, transparent 57%, transparent 100%);
  }
  @keyframes mover {
    0% {
      left: 312px;
    }
    100% {
      left: 10px;
    }
  }
}
@media (min-width: 480px) {
  .main__sidebar-left--link-close {
    left: 99.5%;
  }
}
@media (min-width: 1024px) {
  .main__sidebar-left--link-close {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    left: 103%;
    transition: 0.5s ease;
  }
}
.main__sidebar-left--content {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /* TAMAÑO - PORTÁTIL(1024px) */
}
@media (min-width: 1024px) {
  .main__sidebar-left--content.active {
    width: 0;
    left: -400px;
    opacity: 0;
    pointer-events: none;
  }
}
.main__sidebar-left--content__cont-logo {
  width: 20%;
  height: auto;
  margin-left: 0.5rem;
  margin-right: auto;
  margin-bottom: 0.5rem;
  position: absolute;
}
.main__sidebar-left--content__cont-logo img {
  width: 100%;
  height: 100%;
}
.main__sidebar-left--content__cont-infouser {
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}
.main__sidebar-left--content__cont-infouser--photo {
  width: 125px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.main__sidebar-left--content__cont-infouser--photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main__sidebar-left--content__cont-infouser--info__type {
  font-size: 1.2rem;
  font-weight: bold;
}
.main__sidebar-left--content__cont-infouser--info__nameuser {
  font-size: 1rem;
}
.main__sidebar-left--content__cont-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 2;
  height: 100%;
}
.main__sidebar-left--content__cont-items--menu {
  list-style: none;
  padding: 0;
  margin: 0;
  /* TAMAÑO - PORTÁTIL(1024px)*/
}
@media (min-width: 1024px) {
  .main__sidebar-left--content__cont-items--menu {
    line-height: 3;
    font-size: 1.05rem;
  }
}
.main__sidebar-left--content__cont-items--menu__link {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #000;
  outline: none;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}
.main__sidebar-left--content__cont-items--menu__link:hover {
  color: #fff !important;
}
.main__sidebar-left--content__cont-items--menu__link span {
  font-size: 0.9rem;
}
.main__sidebar-left--link-logout {
  position: sticky;
  bottom: 0;
  color: #000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

/* SIDEBARLEFT HOME */
#home {
  margin-bottom: 2rem;
  /* TAMAÑO - TABLET(768px) */
}
@media (min-width: 768px) {
  #home {
    margin: 0;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* VARIABLES PARA EL SIDEBARLEFT */
#topbar {
  /* TAMAÑO - PORTÁTIL(1024px) */
  /* TAMAÑO - DESKTOP HD(1400px) */
}
@media (min-width: 1024px) {
  #topbar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
@media (min-width: 1400px) {
  #topbar {
    padding-top: 0.5rem;
  }
}

.menuside {
  position: absolute;
  background-color: #FFBD59;
  left: -85%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: 85%;
  transition: ease 0.3s;
  /* TAMAÑO - MÓVIL PEQUEÑO(360px) */
  /* TAMAÑO - MÓVIL(480px) */
  /* TAMAÑO - CUSTOM(600px) */
  /* TAMAÑO - TABLET(768px) */
  /* TAMAÑO - PORTÁTIL(1024px) */
}
.menuside.show-menu {
  left: 0;
  width: 85%;
  box-shadow: 1px 0 80px 780px rgba(0, 0, 0, 0.6);
}
.menuside__menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  padding-top: 3rem;
  min-height: 100vh;
  height: 100%;
}
.menuside__menu--link {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  padding-left: 1.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: #3F3F3F;
  display: block;
}
.menuside__copy {
  justify-self: flex-end;
  position: sticky;
  text-align: center;
  bottom: 0;
}
.menuside__copy--link {
  display: block;
  font-family: "Quicksand", sans-serif;
  color: #3F3F3F;
  padding: 0.8rem 0;
  font-size: 0.8rem;
}
@media (min-width: 360px) {
  .menuside {
    left: -75%;
    width: 75%;
  }
  .menuside.show-menu {
    left: 0;
    width: 75%;
  }
}
@media (min-width: 480px) {
  .menuside {
    left: -55%;
    width: 55%;
  }
  .menuside.show-menu {
    left: 0;
    width: 55%;
  }
}
@media (min-width: 600px) {
  .menuside {
    left: -45%;
    width: 45%;
  }
  .menuside.show-menu {
    left: 0;
    width: 45%;
  }
}
@media (min-width: 768px) {
  .menuside__menu--link {
    padding-left: 2rem;
  }
}
@media (min-width: 1024px) {
  .menuside {
    position: relative;
    left: 0;
    top: 0;
    max-width: 1200px;
    width: 90%;
    min-height: auto;
    height: auto;
    display: flex;
    align-items: flex-end;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
  }
  .menuside__menu {
    flex-direction: row;
    padding: 0;
    min-height: auto;
    height: auto;
  }
  .menuside__menu--link {
    font-size: 1rem;
  }
  .menuside__menu--link:hover {
    color: #FFBD59;
  }
  .menuside__copy {
    display: none;
  }
}

#showsideleft {
  cursor: pointer;
  height: 20px;
  transition: ease 0.3s;
  /* TAMAÑO - PREDETERMINADO(300px) */
  /* TAMAÑO - PREDETERMINADO(320px) */
  /* TAMAÑO - TABLET(768px) */
  /* TAMAÑO - PORTÁTIL(1024px) */
}
#showsideleft {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  margin: 1rem 0 0 1rem;
}
#showsideleft:before {
  content: "";
  position: absolute;
  border-top: 3px solid #FFBD59;
  top: 0;
  width: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid #FFBD59;
  border-radius: 2px;
}
#showsideleft:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #FFBD59;
  width: 20px;
  bottom: 0;
  border-radius: 2px;
}
#showsideleft.active {
  z-index: 9999;
  left: 150px;
  animation-name: move;
  animation-duration: 0.3s;
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #FFFFFF 45%, #FFFFFF 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), linear-gradient(135deg, transparent 0%, transparent 43%, #FFFFFF 45%, #FFFFFF 55%, transparent 57%, transparent 100%);
}
#showsideleft.active:before {
  content: "";
  position: absolute;
  border-top: unset;
  border-bottom: unset;
  height: auto;
  width: auto;
  top: auto;
  bottom: auto;
}
#showsideleft.active:after {
  content: "";
  position: absolute;
  border-top: unset;
  border-bottom: unset;
  height: auto;
  width: auto;
  top: auto;
  bottom: auto;
}
@keyframes move {
  0% {
    left: 0;
  }
  100% {
    left: 150px;
  }
}
@media (min-width: 300px) {
  @keyframes move {
    0% {
      left: 0;
    }
    100% {
      left: 195px;
    }
  }
  #showsideleft.active {
    left: 195px;
  }
}
@media (min-width: 320px) {
  @keyframes move {
    0% {
      left: 0;
    }
    100% {
      left: 210px;
    }
  }
  #showsideleft.active {
    left: 210px;
  }
}
@media (min-width: 768px) {
  @keyframes move {
    0% {
      left: 0;
    }
    100% {
      left: 290px;
    }
  }
  #showsideleft.active {
    left: 290px;
  }
}
@media (min-width: 1024px) {
  #showsideleft {
    display: none;
  }
}

/* SELECT TYPE USER */
.seluser {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  font-family: "Quicksand", sans-serif;
  /* TAMAÑO - MÓVIL PEQUEÑO(360px) */
  /* TAMAÑO - CUSTOM(600px) */
  /* TAMAÑO - TABLET(768px) */
  /* TAMAÑO - PORTÁTIL(1024px) */
  /* TAMAÑO - DESKTOP HD(1400px) */
}
.seluser__title {
  color: #3F3F3F;
  font-size: 0.95rem;
}
.seluser__subtitle {
  color: #FFBD59;
  font-size: 1.5rem;
  font-weight: 700;
}
.seluser__content {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 1.5rem;
  padding: 0 0.9rem;
  margin-left: auto;
  margin-right: auto;
  /* TAMAÑO - PREDETERMINADO(300px) */
  /* TAMAÑO - MÓVIL PEQUEÑO(360px) */
  /* TAMAÑO - MÓVIL (480px) */
  /* TAMAÑO - CUSTOM (600px) */
  /* TAMAÑO - TABLET (768px) */
  /* TAMAÑO - PORTÁTIL (1024px) */
}
.seluser__content--link {
  padding: 1rem 0.5rem;
  color: #3F3F3F !important;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.seluser__content--link__image {
  width: 65%;
  height: 145px;
  margin-bottom: 0.5rem;
  transition: ease 0.3s;
}
.seluser__content--link:hover {
  border: 1px solid transparent;
  box-shadow: 1px 0 20px 1px rgba(0, 0, 0, 0.2);
  background-color: #FFBD59;
}
@media (min-width: 300px) {
  .seluser__content {
    padding: 0;
    width: 80%;
  }
}
@media (min-width: 360px) {
  .seluser__content {
    padding: 0;
    width: 70%;
  }
}
@media (min-width: 480px) {
  .seluser__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: stretch;
  }
  .seluser__content--link {
    width: calc(100% * 1/2 - 20px);
    margin: 0 0.6rem;
  }
}
@media (min-width: 600px) {
  .seluser__content--link {
    width: calc(100% * 1/2 - 50px);
    margin: 0.4rem 1.4rem;
  }
}
@media (min-width: 768px) {
  .seluser__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    align-items: stretch;
    justify-content: center;
  }
  .seluser__content--link {
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .seluser__content {
    width: 80%;
  }
  .seluser__content--link {
    padding: 2.2rem 1rem;
    transition: ease 0.2s;
  }
  .seluser__content--link:hover {
    transform: translateY(-10px);
  }
  .seluser__content--link:hover .seluser__content--link__image {
    fill: #fff;
  }
  .seluser__content--link:hover .seluser__content--link__title {
    font-weight: bold;
  }
}
@media (min-width: 360px) {
  .seluser__subtitle {
    font-size: 1.85rem;
  }
}
@media (min-width: 600px) {
  .seluser__title {
    font-size: 1.2rem;
  }
  .seluser__subtitle {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .seluser {
    padding: 0;
    margin-bottom: 5.5rem;
  }
}
@media (min-width: 1024px) {
  .seluser {
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1400px) {
  .seluser__title {
    font-size: 1.4rem;
  }
  .seluser__subtitle {
    font-size: 2.6rem;
  }
  .seluser__content {
    margin-top: 2.5rem;
    width: 65%;
  }
}

.body-account {
  background-color: #fff;
  /* TAMAÑO - PORTÁTIL(1024px) */
}
@media (min-width: 1024px) {
  .body-account {
    background-color: #FFBD59;
  }
}

.account {
  background-color: #fff;
  /* TAMAÑO - PORTÁTIL(1024px) */
  /* TAMAÑO - DESKTOP HD(1400px) */
}
@media (min-width: 1024px) {
  .account {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    min-height: 600px;
    max-height: 600px;
    height: 600px;
    border-radius: 0.3rem;
    box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 1400px) {
  .account {
    width: 1151px;
  }
}
.account__cont {
  /* TAMAÑO - PORTÁTIL(1024px) */
}
@media (min-width: 1024px) {
  .account__cont {
    width: 50%;
  }
}
.account__cont--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0;
  top: 0;
  width: 90%;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  /* TAMAÑO - PREDETERMINADO(300px) */
}
@media (min-width: 300px) {
  .account__cont--icon {
    margin-bottom: 1rem;
  }
}
.account__cont--icon:before {
  content: "";
  position: absolute;
  background-color: #FCE8E3;
  width: 100%;
  height: 130px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  /* TAMAÑO - PREDETERMINADO(300px) */
  /* TAMAÑO - PORTÁTIL(1024px) */
}
@media (min-width: 300px) {
  .account__cont--icon:before {
    height: 160px;
  }
}
@media (min-width: 1024px) {
  .account__cont--icon:before {
    width: 300px;
    height: 100%;
  }
}
.account__cont--icon img {
  width: 100%;
  height: auto;
  z-index: 999;
  /* TAMAÑO - PREDETERMINADO(300px) */
  /* TAMAÑO - PORTÁTIL(1024px) */
}
@media (min-width: 300px) {
  .account__cont--icon img {
    height: 200px;
  }
}
@media (min-width: 1024px) {
  .account__cont--icon img {
    height: auto;
  }
}
.account__cont:nth-child(2) {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* TAMAÑO - MÓVIL(480px) */
  /* TAMAÑO - TABLET(768px) */
  /* TAMAÑO - PORTÁTIL(1024px) */
  /* TAMAÑO - DESKTOP HD(1400px) */
}
@media (min-width: 480px) {
  .account__cont:nth-child(2) {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .account__cont:nth-child(2) {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .account__cont:nth-child(2) {
    width: 40%;
  }
}
@media (min-width: 1400px) {
  .account__cont:nth-child(2) {
    width: 30%;
  }
}
.account__cont--content:first-child {
  margin-bottom: 1.5rem;
}
.account__cont--content__or-register {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 30px;
}
.account__cont--content__or-register--divisor {
  width: 60px;
  border-top: 1px solid grey;
}
.account__cont--content__or-register--divisor span {
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  margin: auto;
  color: #757575;
}
.account__cont--content__title {
  margin-bottom: 0.4rem;
  font-size: 1.5rem;
  font-weight: 700;
  /* TAMAÑO - PREDETERMINADO(300px) */
  /* TAMAÑO - MÓVIL(480px) */
}
@media (min-width: 300px) {
  .account__cont--content__title {
    font-size: 1.7rem;
  }
}
@media (min-width: 480px) {
  .account__cont--content__title {
    font-size: 2rem;
  }
}
.account__cont--content__width-register {
  font-size: 0.8rem;
  color: #757575;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  /* TAMAÑO - TABLET(768px)*/
}
@media (min-width: 768px) {
  .account__cont--content__width-register {
    font-size: 0.9rem;
  }
}
.account__cont--content__width-register a {
  color: #82AFF8;
  outline: none;
  font-weight: bold;
}
.account__cont--content__form--control {
  margin-bottom: 1.25rem;
  position: relative;
  transition: 0.3s ease;
}
.account__cont--content__form--control__label {
  display: flex;
  font-size: 0.9rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s ease;
  color: #757575;
}
.account__cont--content__form--control__label.focus {
  color: red;
  font-size: 0.7rem;
  top: -13px;
}
.account__cont--content__form--control__label.complete {
  font-size: 0.7rem;
  top: -13px;
  color: green;
}
.account__cont--content__form--control__input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #767676;
  width: 100%;
  outline: none;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  transition: 0.3s ease;
  background-color: transparent;
  font-size: 0.9rem;
}
.account__cont--content__form--control__input.focus {
  border-bottom: 1px solid red;
}
.account__cont--content__form--control__input.complete {
  border-bottom: 1px solid green;
}
.account__cont--content__form--control__select {
  cursor: pointer;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #767676;
  outline: none;
  margin-bottom: 1.25rem;
  background-color: transparent;
  /* TAMAÑO - MÓVIL(480px) */
}
@media (min-width: 480px) {
  .account__cont--content__form--control__select {
    width: 50%;
  }
}
.account__cont--content__form--control__input:focus ~ label {
  font-size: 0.7rem;
  top: -12px;
}
.account__cont--content__form--btnadd {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: #FFBD59;
  color: #fff;
  outline: none;
  padding: 0.55rem 0;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  /* TAMAÑO - PORTÁTIL(1024px) */
}
@media (min-width: 1024px) {
  .account__cont--content__form--btnadd {
    padding: 0.8rem 0;
  }
  .account__cont--content__form--btnadd:hover {
    opacity: 0.6;
  }
}

/*# sourceMappingURL=styles.css.map */
