/* DEFINIR ANCHO MÁXIMO */
@mixin max_width($max_width){
	max-width: $max_width;
}


/* CREAR UN BURGERNAV CON CONTORNO */
@mixin burgernav-index($color, $width, $bold, $top, $bottom, $border-w){
	&{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&:before{
		content: "";
		position: absolute;
		border-top: $bold solid $color;
		top: $top;
		width: $width;
		padding-bottom: 7px;
		border-bottom: $bold solid $color;
		border-radius: 2px;
		left: 1rem;

		@media (min-width: 691px){
			left: auto;
		}
	}

	&:after{
		content: "";
		position: absolute;
		border-bottom: $bold solid $color;
		width: $width;
		bottom: $bottom;
		border-radius: 2px;
		left: 1rem;

		@media (min-width: 691px){
			left: auto;
		}
	}
}

/* BORDER BOTTOM TITLES */
@mixin border-bottom($color){
	&{
		position: relative;
	}

	&:after{
		content: "";
		position: absolute;
		background-color: $color;
		display: block;
		width: 80px;
		height: 2px;
		bottom: -12px;

		@media(min-width: 320px){
			width: 105px;
		}
	}
}