@charset "UTF-8";
/* IMPORTAR LAS BASES DEL TEMA */
/* IMPORTAR LAS VARIABLES Y MIXINS */
/* IMPORTAR EL ESTILOS DE FUENTE GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
/* VARIABLES GENERALES DEL PROYECTO */
/* VARIABLES SECUNDARIAS */
/* CUSTOMS VARIABLES */
/* DEFINIR ANCHO MÁXIMO */
/* CREAR UN BURGERNAV CON CONTORNO */
/* BORDER BOTTOM TITLES */
/* RESETEO Y CONFIGURACIÓN GENERAL DE ESTILOS */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
}

a {
  text-decoration: none !important;
  outline: none !important;
}

button {
  outline: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  max-width: 1134px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

@media (min-width: 768px) {
  .left-align {
    align-items: flex-start !important;
  }
  .left-align .left-text {
    text-align: left !important;
    width: 450px;
  }

  .center-align {
    align-items: center !important;
  }
  .center-align .center-text {
    text-align: center !important;
    width: 85%;
  }

  .right-align {
    align-items: flex-end !important;
  }
  .right-align .right-text {
    text-align: right !important;
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .left-align {
    padding: 0 4.5rem !important;
  }

  .right-align {
    padding: 0 4.5rem !important;
  }
}
@media (min-width: 1400px) {
  .left-text {
    text-align: left !important;
    width: 480px;
  }

  .center-text {
    text-align: center !important;
    width: 85%;
  }

  .right-text {
    text-align: right !important;
    width: 480px;
  }
}
.block {
  display: block;
}

.box {
  max-width: 1134px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

.one-hidden > option:first-child {
  display: none;
}

/************************** STYLES UTILITIES **************************/
@media (min-width: 1024px) {
  .lg-full-screen {
    align-content: center;
    width: 100%;
    min-height: 100vh;
  }
}
/* IMPORTAR EL ESTILOS DE FUENTE GENERAL */
/* VARIABLES GENERALES DEL PROYECTO */
/* VARIABLES SECUNDARIAS */
/* CUSTOMS VARIABLES */
/* IMPORTAR LOS ARCHIVOS DEL TEMA */
/************************** SHOW MENU BURGER **************************/
#menu-show-home {
  pointer-events: auto;
  width: 50px;
  height: 50px;
  left: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}
#menu-show-home {
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu-show-home:before {
  content: "";
  position: absolute;
  border-top: 4px solid #fff;
  top: 18px;
  width: 27px;
  padding-bottom: 7px;
  border-bottom: 4px solid #fff;
  border-radius: 2px;
  left: 1rem;
}
@media (min-width: 1134px) {
  #menu-show-home:before {
    left: auto;
  }
}
#menu-show-home:after {
  content: "";
  position: absolute;
  border-bottom: 4px solid #fff;
  width: 27px;
  bottom: 15px;
  border-radius: 2px;
  left: 1rem;
}
@media (min-width: 1134px) {
  #menu-show-home:after {
    left: auto;
  }
}
#menu-show-home.active {
  box-shadow: unset;
  opacity: 1;
  left: 200px;
  right: auto;
  position: fixed;
  color: #fff;
  transition: 0.4s ease;
  z-index: 999999;
  animation-name: mover;
  animation-duration: 0.4s;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), linear-gradient(135deg, transparent 0%, transparent 43%, #fff 45%, #fff 55%, transparent 57%, transparent 100%);
  border: none;
  padding: 0.75rem;
  top: 1.2rem;
  cursor: pointer;
}
#menu-show-home.active:before {
  content: "";
  position: absolute;
  border-top: unset;
  height: auto;
  width: auto;
  border-bottom: unset;
  top: auto;
  left: auto;
}
#menu-show-home.active:after {
  content: "";
  position: absolute;
  border-bottom: unset;
  top: auto;
  left: auto;
  width: auto;
}
@keyframes mover {
  0% {
    right: 0;
  }
  100% {
    right: 200px;
  }
}
@media (min-width: 360px) {
  #menu-show-home.active {
    left: 215px;
  }
}
@media (min-width: 480px) {
  #menu-show-home.active {
    left: 265px;
  }
}

/************************** HOMEPAGE **************************/
.homepage__background {
  width: 100%;
  min-height: auto;
  height: 100%;
}
.homepage__background img {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.homepage__infotop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.5s;
  transform: translateY(0);
  background-color: transparent;
}
.homepage__infotop.showBottom {
  animation: showHeader 0.5s;
  background-color: #FFBD59;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
}
@keyframes showHeader {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}
.homepage__infotop__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homepage__infotop__header--contlogo {
  width: 60px;
  height: 60px;
}
.homepage__infotop__header--contlogo__link {
  width: 60px;
  height: 60px;
}
.homepage__infotop__header--contlogo__link--image {
  width: 100%;
  height: 100%;
}
.homepage__infotop__header--contlogin {
  width: 35px;
  height: 35px;
}
.homepage__infotop__header--contlogin__profile {
  width: 35px;
  height: 35px;
}
.homepage__infotop__header--contlogin__profile--image {
  width: 100%;
  height: 100%;
}
.homepage__infotop__header--contmenu {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  background-color: #FFBD59;
  min-height: 100vh;
  height: 100%;
  transition: ease 0.3s;
  padding: 3rem 2rem 2rem 2rem;
}
.homepage__infotop__header--contmenu.active {
  left: 0;
  width: 244px;
  box-shadow: 1px 0 80px 780px rgba(0, 0, 0, 0.6);
  /************************** MEDIA QUERIES **************************/
}
@media (min-width: 360px) {
  .homepage__infotop__header--contmenu.active {
    width: 260px;
  }
}
@media (min-width: 480px) {
  .homepage__infotop__header--contmenu.active {
    width: 310px;
  }
}
.homepage__infotop__header--contmenu__menu {
  list-style: none;
  padding-left: 0;
}
.homepage__infotop__header--contmenu__menu--item {
  line-height: 3;
}
.homepage__infotop__header--contmenu__menu--link {
  display: block;
  color: #fff;
  font-weight: bold;
}
@media (min-width: 480px) {
  .homepage__infotop__header--contmenu__menu--link {
    font-size: 1.2rem;
  }
}

/************************** HEROIAMGE **************************/
.heroimage {
  width: 100%;
  height: auto;
  position: relative;
}
.heroimage--content-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 0.5rem;
}
.heroimage--content-btns__btn {
  border: unset;
  background-color: transparent;
  font-size: 42px;
  font-weight: bold;
  font-family: monospace;
  width: 48px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroimage--content-btns__btn:hover {
  color: #fff;
}
.heroimage--content-btns__btn--left {
  left: 12px;
}
.heroimage--content-btns__btn--right {
  right: 12px;
}
.heroimage--menu {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 300%;
  height: auto;
  margin-left: -100%;
}
.heroimage--menu__item {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroimage--menu__item--background {
  width: 100%;
  height: 630px;
  object-fit: cover;
  object-position: center;
  /* TAMAÑO - MÓVIL(480px) */
}
@media (min-width: 480px) {
  .heroimage--menu__item--background {
    height: 615px;
  }
}
.heroimage--menu__item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.heroimage--menu__item--content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9;
  padding: 0 1.5rem;
}
.heroimage--menu__item--content__info {
  color: #fff;
  font-size: 0.95rem;
  text-align: center;
}
@media (min-width: 480px) {
  .heroimage--menu__item--content__info {
    font-size: 1.1rem;
  }
}
.heroimage--menu__item--content__info--title {
  font-size: 2em;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .heroimage--menu__item--content__info--title {
    font-size: 2.5rem;
  }
}
@media (min-width: 1400px) {
  .heroimage--menu__item--content__info--title {
    font-size: 3rem;
  }
}
.heroimage--menu__item--content__info--title span {
  color: #FFBD59;
}
.heroimage--menu__item--content__info--subtitle {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}
.heroimage--menu__item--content__info--gotoproduct {
  margin-top: 1rem;
  display: inline-block;
  background-color: #FFBD59;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.8rem 2rem;
}
.heroimage--menu__item--content__info--gotoproduct span {
  margin-left: 0.5rem;
}

/************************** CAEGORIES FOOD **************************/
.categories-food__content {
  padding: 3rem 0;
  /************************** TITLE CATEGORIES **************************/
  /************************** CATEGORIES **************************/
}
@media (min-width: 480px) {
  .categories-food__content {
    padding: 4rem 0;
  }
}
@media (min-width: 1024px) {
  .categories-food__content {
    padding: 4rem 0 6rem 0;
  }
}
.categories-food__content--conttitle {
  text-align: center;
  margin-bottom: 2rem;
}
.categories-food__content--conttitle__acotacion {
  color: #FFBD59;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}
@media (min-width: 480px) {
  .categories-food__content--conttitle__acotacion {
    font-size: 1.8rem;
  }
}
.categories-food__content--menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
  /* TAMAÑO - CUSTOM MOBILE (300px) */
  /* TAMAÑO - CUSTOM MOBILE (600px) */
  /* TAMAÑO - TABLET (768px) */
  /* TAMAÑO - DESKTOP (1024px) */
}
@media (min-width: 300px) {
  .categories-food__content--menu {
    width: 90%;
  }
}
@media (min-width: 600px) {
  .categories-food__content--menu {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .categories-food__content--menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: stretch;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .categories-food__content--menu {
    padding: 0 1rem;
    grid-column-gap: 1rem;
  }
}
.categories-food__content--menu__item {
  border-radius: 6px;
  box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* TAMAÑO - CUSTOM MOBILE (600px) */
  /* TAMAÑO - TABLET(768px) */
}
@media (min-width: 600px) {
  .categories-food__content--menu__item {
    width: calc(100% * 1/2 - 25px);
    margin: 0 0.7rem;
  }
}
@media (min-width: 768px) {
  .categories-food__content--menu__item {
    width: auto;
  }
}
.categories-food__content--menu__item__link {
  width: 100%;
  height: 100%;
  position: relative;
}
.categories-food__content--menu__item__link--categ-imagen {
  position: relative;
  width: 100%;
  max-height: 160px;
  height: 100%;
  overflow: hidden;
  transition: all ease-out 0.3s;
  /* TAMAÑO - DESKTOP */
}
.categories-food__content--menu__item__link--categ-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .categories-food__content--menu__item__link--categ-imagen {
    max-height: 250px;
  }
}
.categories-food__content--menu__item__link:hover .categories-food__content--menu__item__link--categ-imagen {
  transform: scale(1.2);
}
.categories-food__content--menu__item__link--categ-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.32);
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories-food__content--menu__item__link--categ-description--name {
  font-weight: lighter;
  margin-bottom: 0.5rem;
  color: #fff;
}

/************************** HOW IR WORK **************************/
.howitwork {
  background-color: #F4F4F4;
}
.howitwork__content {
  padding: 3rem 0;
}
@media (min-width: 480px) {
  .howitwork__content {
    padding: 4rem 0;
  }
}
@media (min-width: 1024px) {
  .howitwork__content {
    padding: 5rem 0 6rem 0;
  }
}
.howitwork__content--conttitle {
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .howitwork__content--conttitle {
    margin-bottom: 3.5rem;
  }
}
.howitwork__content--conttitle__title {
  text-transform: uppercase;
  color: #FFBD59;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .howitwork__content--conttitle__title {
    font-size: 1.8rem;
  }
}
.howitwork__content--continfo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 2rem;
  align-items: stretch;
  justify-content: center;
}
@media (min-width: 480px) {
  .howitwork__content--continfo {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .howitwork__content--continfo {
    justify-content: space-between;
  }
}
.howitwork__content--continfo__item {
  color: #3F3F3F;
  text-align: center;
  margin: 0 1.2rem;
}
@media (min-width: 480px) {
  .howitwork__content--continfo__item {
    margin: 0 1rem;
    width: calc(100% * 1/2 - 32px);
  }
}
@media (min-width: 768px) {
  .howitwork__content--continfo__item {
    width: calc(100% * 1/3 - 32px);
  }
}
@media (min-width: 1024px) {
  .howitwork__content--continfo__item {
    margin: 0 1.8rem;
    width: calc(100% * 1/3 - 62px);
  }
}
.howitwork__content--continfo__item--icon {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}
.howitwork__content--continfo__item--title {
  font-weight: lighter;
  margin-bottom: 1.2rem;
}
.howitwork__content--continfo__item--description {
  line-height: 1.9;
}

/************************** OUR MENU **************************/
.our-menu {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2.5rem 0;
  align-content: center;
}
@media (min-width: 480px) {
  .our-menu {
    padding: 4rem 0;
  }
}
@media (min-width: 1024px) {
  .our-menu {
    padding: 4rem 0 6rem 0;
  }
}
.our-menu__content--cont-title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.our-menu__content--cont-title__title {
  font-weight: bold;
  color: #FFBD59;
}
@media (min-width: 480px) {
  .our-menu__content--cont-title__title {
    font-size: 1.8rem;
  }
}
.our-menu__content--cont-our-menus__categmenu {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.our-menu__content--cont-our-menus__categmenu--title {
  margin-bottom: 1.5rem;
}
.our-menu__content--cont-our-menus__categmenu--title--title {
  text-align: left;
  padding-left: 0.5rem;
}
@media (min-width: 768px) {
  .our-menu__content--cont-our-menus__categmenu--title--title {
    font-size: 1.5rem;
  }
}
.our-menu__content--cont-our-menus__categmenu--meals {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 280px;
  height: auto;
  overflow: hidden;
}
.our-menu__content--cont-our-menus__categmenu--meals__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  top: 0;
  left: 0;
  z-index: 9;
}
.our-menu__content--cont-our-menus__categmenu--meals__btns--left, .our-menu__content--cont-our-menus__categmenu--meals__btns--right {
  cursor: pointer;
  border: none;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  font-size: 2.5rem;
  background-color: rgba(0, 60, 0, 0.6);
  font-weight: bold;
  width: 55px;
  height: 100%;
  color: #fff;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: monospace;
}
.our-menu__content--cont-our-menus__categmenu--meals__btns--left {
  left: 0;
}
.our-menu__content--cont-our-menus__categmenu--meals__btns--right {
  right: 0;
}
.our-menu__content--cont-our-menus__categmenu--meals__menu {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  scroll-behavior: smooth;
  margin-bottom: 1rem;
  margin-left: -100%;
  width: 900%;
}
@media (min-width: 480px) {
  .our-menu__content--cont-our-menus__categmenu--meals__menu {
    width: 450%;
    margin-left: -50%;
  }
}
@media (min-width: 768px) {
  .our-menu__content--cont-our-menus__categmenu--meals__menu {
    width: 300%;
    margin-left: -33.3%;
  }
}
@media (min-width: 1024px) {
  .our-menu__content--cont-our-menus__categmenu--meals__menu {
    width: 225%;
    margin-left: -25%;
  }
}
.our-menu__content--cont-our-menus__categmenu--meals__menu__item {
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
@media (min-width: 480px) {
  .our-menu__content--cont-our-menus__categmenu--meals__menu__item {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .our-menu__content--cont-our-menus__categmenu--meals__menu__item {
    width: 33.3%;
  }
}
@media (min-width: 1024px) {
  .our-menu__content--cont-our-menus__categmenu--meals__menu__item {
    width: 25%;
  }
}
.our-menu__content--cont-our-menus__categmenu--meals__menu__item__link {
  width: 100%;
  height: 100%;
}
.our-menu__content--cont-our-menus__categmenu--meals__menu__item__link:hover .our-menu__content--cont-our-menus__categmenu--meals__menu__item__link--bgcimage img {
  transform: scale(1.1);
}
.our-menu__content--cont-our-menus__categmenu--meals__menu__item__link--bgcimage {
  position: relative;
  width: 100%;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  overflow: hidden;
  transition: all ease-out 0.3s;
}
@media (min-width: 1024px) {
  .our-menu__content--cont-our-menus__categmenu--meals__menu__item__link--bgcimage {
    height: 240px;
  }
}
.our-menu__content--cont-our-menus__categmenu--meals__menu__item__link--bgcimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease-out 0.3s;
}
.our-menu__content--cont-our-menus__categmenu--meals__menu__item__link--bgcimage span {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #FFBD59;
  padding: 0.5rem 2rem;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
}
.our-menu__content--cont-our-menus__categmenu--meals__menu__item__link--continfo {
  padding: 0.5rem 1rem;
  color: #000;
}
.our-menu__content--cont-our-menus__categmenu--meals__menu__item__link--continfo__title {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
}

/************************** CONTACT US **************************/
.contact-us {
  position: relative;
}
.contact-us__cont--content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us__cont--content--banner {
  display: none;
  height: auto;
}
@media (min-width: 691px) {
  .contact-us__cont--content--banner {
    display: block;
  }
}
.contact-us__cont--content--banner img {
  object-fit: contain;
  object-position: center;
  height: 552px;
  max-width: initial;
  margin-left: -390px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .contact-us__cont--content--banner img {
    margin-left: -420px;
  }
}
@media (min-width: 992px) {
  .contact-us__cont--content--banner img {
    margin-left: -500px;
    height: 592px;
  }
}
@media (min-width: 691px) {
  .contact-us__cont--content--contact {
    position: absolute;
    right: 0;
    width: 49.6%;
    padding: 50px 15px 45px;
  }
}
@media (min-width: 1400px) {
  .contact-us__cont--content--contact {
    padding: 50px 40px 45px;
  }
}
.contact-us__cont--content--contact--title {
  margin-bottom: 0;
}
.contact-us__cont--content--contact--title h2 {
  color: #FFBD59;
  text-transform: uppercase;
  font-size: 1.35rem;
}
@media (min-width: 691px) {
  .contact-us__cont--content--contact--title h2 {
    font-size: 1.5rem;
  }
}
.contact-us__cont--content--contact--register {
  padding: 1.5rem 0;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.contact-us__cont--content--contact--register__form--control {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
  height: 40px;
}
@media (min-width: 691px) {
  .contact-us__cont--content--contact--register__form--control {
    height: 52px;
  }
}
@media (min-width: 1024px) {
  .contact-us__cont--content--contact--register__form--control {
    margin-bottom: 1.8rem;
  }
}
.contact-us__cont--content--contact--register__form--control__label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 0 0.5rem;
}
@media (min-width: 691px) {
  .contact-us__cont--content--contact--register__form--control__label {
    width: 45px;
    height: 45px;
  }
}
.contact-us__cont--content--contact--register__form--control__label--icon {
  width: 100%;
  height: 100%;
}
.contact-us__cont--content--contact--register__form--control__input {
  outline: none;
  width: 100%;
  height: 100%;
  padding: 12px 12px 12px 40px;
  border: thin solid #FFBD59;
  background-color: #fff;
  font-size: 0.9rem;
}
@media (min-width: 691px) {
  .contact-us__cont--content--contact--register__form--control__input {
    padding: 20px 20px 20px 50px;
    font-size: 17px;
  }
}
.contact-us__cont--content--contact--register__form--btnsend {
  cursor: pointer;
  width: 100%;
  border: none;
  display: block;
  text-align: center;
  font-size: 1rem;
  background-color: #FFBD59;
  color: #fff;
  font-weight: bold;
  padding: 12px;
}
@media (min-width: 1024px) {
  .contact-us__cont--content--contact--register__form--btnsend {
    font-size: 1.1rem;
    padding: 17px;
  }
}

/************************** FOOTER **************************/
.footer {
  padding-top: 2.5rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  background-color: #1F2329;
}
.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  grid-template-areas: "logo logo" "categories about-us";
  padding-bottom: 2.5rem;
}
@media (min-width: 800px) {
  .footer__content {
    grid-template-areas: "logo categories about-us";
    grid-template-columns: 45% 1fr 1fr;
  }
}
.footer__content--cont {
  color: #fff;
}
.footer__content--cont:first-child {
  grid-area: logo;
}
@media (min-width: 768px) {
  .footer__content--cont:first-child {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 800px) {
  .footer__content--cont:first-child {
    flex-direction: column;
  }
}
.footer__content--cont:nth-child(2) {
  grid-area: categories;
}
.footer__content--cont:nth-child(3) {
  grid-area: about-us;
}
.footer__content--cont__logotype-text {
  height: auto;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0 0.8rem;
}
@media (min-width: 768px) {
  .footer__content--cont__logotype-text {
    text-align: left;
    display: grid;
    align-items: center;
    grid-template-columns: 100px auto;
    grid-column-gap: 1rem;
    margin: 0;
  }
}
@media (min-width: 800px) {
  .footer__content--cont__logotype-text {
    margin: 0 0 1.3rem 0;
  }
}
.footer__content--cont__logotype-text img {
  width: 190px;
  height: 100%;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .footer__content--cont__logotype-text img {
    margin: 0;
  }
}
@media (min-width: 800px) {
  .footer__content--cont__logotype-text img {
    height: 100px;
  }
}
.footer__content--cont__logotype-text p {
  font-size: 0.9rem;
  color: #fff;
}
.footer__content--cont__title {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.footer__content--cont__title {
  position: relative;
}
.footer__content--cont__title:after {
  content: "";
  position: absolute;
  background-color: #E4584B;
  display: block;
  width: 80px;
  height: 2px;
  bottom: -12px;
}
@media (min-width: 320px) {
  .footer__content--cont__title:after {
    width: 105px;
  }
}
.footer__content--cont__menu {
  padding: 0;
}
.footer__content--cont__menu--item {
  line-height: 2.5;
}
@media (min-width: 800px) {
  .footer__content--cont__menu--item {
    line-height: 3;
  }
}
.footer__content--cont__menu--icon-item {
  line-height: 2.5;
}
@media (min-width: 800px) {
  .footer__content--cont__menu--icon-item {
    line-height: 3;
  }
}
.footer__content--cont__menu--link {
  color: #ccc;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.footer__content--cont__menu--link:hover {
  color: #fff;
}
.footer__content--cont__menu--link img {
  width: 20px;
  height: 20px;
}
.footer__content--cont__menu--link span {
  margin-left: 1rem;
}
.footer__content--cont__list {
  padding-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .footer__content--cont__list {
    padding: 0;
  }
}
.footer__content--cont__list--social-media, .footer__content--cont__list--social-media img {
  width: 30px;
  height: 30px;
}
@media (min-width: 800px) {
  .footer__content--cont__list--social-media, .footer__content--cont__list--social-media img {
    width: 26px;
    height: 26px;
  }
}
.footer__bottom {
  padding: 1rem 0;
  display: block;
  text-align: center;
  align-items: center;
  color: #fff;
}
.footer__bottom span {
  font-size: 0.8rem;
}

/************************** API WHATSAPP **************************/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 20px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 12px 3px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

/*# sourceMappingURL=styles.css.map */
